{% layout "layout-default.liquid" %}

{% block %}
<section class="pt25 pb16 mb6 relative full-width animation-glow" style="overflow: hidden; background: #D4BAFD;">
    <div class="container flex" style="overflow: hidden;">
        <div class="flex flexdir-col gap5" style="z-index: 3;">
            <div class="flex flexdir-col gap2">
                <h1 class="p0 m0 header1 textcallout1">{{ project.basics.name }}</h1>
                <p class="p0 m0 pb2 textcallout1" style="font-size: 20px;">{{ project.basics.description }}</p>
                <div class="pb2 flex gap2 flexwrap-true">
                    {% for category in project.basics.categories %}
                        <p class="tag">{{ category }}</p>
                    {% endfor %}
                </div>
                <div class="pb2">
                    <p class="overline p0 m0 pb2">Designed & Built with</p>
                    <div class="flex gap2 flexwrap-true">
                        {% for tool in project.basics.tooling %}
                            {% if tool == "Shopify" %}
                                <div class="tag2 flex gap2 vertically-center  pb1">
                                    <svg fill="#000000"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="c2be471c56fc5b4dd571614bb3052f50"><path d="M425.228,100.457c0,0-0.425-2.308-1.734-3.144c-1.311-0.836-2.732-0.998-2.732-0.998l-41.082-3.057l-30.228-30.053 c-1.147-0.874-2.471-1.385-3.817-1.66c-3.219-0.624-7.548,0.125-8.347,0.312l-15.682,4.853 c-6.812-20.11-16.118-34.432-27.795-42.716c-8.634-6.101-18.146-8.695-28.363-7.922c-2.146-2.857-4.51-5.352-7.099-7.448 c-11.334-9.157-25.955-10.579-43.446-4.241c-52.454,19.05-74.722,87.029-82.75,120.987L86.437,139.53 c0,0-10.767,3.069-13.293,6.088c-2.775,3.318-3.306,12.301-3.306,12.301l-38.78,299.087L323.215,511.5l157.728-34.133 L425.228,100.457z M263.326,84.763l-50.513,15.632c6.693-26.211,19.555-52.996,44.145-63.438 C262.066,50.331,263.476,68.632,263.326,84.763z M220.897,20.901c10.685-3.88,18.894-3.706,25.069,0.461 c-32.96,15.033-47.351,52.909-53.563,85.357l-40.445,12.525C160.99,86.584,181.144,35.335,220.897,20.901z M249.204,241.318 c-2.314-1.123-5.046-2.321-8.134-3.456c-3.063-1.147-6.475-2.233-10.174-3.131c-3.662-0.898-7.604-1.622-11.758-2.046 c-4.117-0.437-8.44-0.574-12.918-0.312c-4.11,0.25-7.834,0.985-11.109,2.158c-3.256,1.148-6.075,2.745-8.396,4.729 c-2.32,1.971-4.148,4.329-5.439,7.049c-1.279,2.707-2.034,5.751-2.177,9.132c-0.112,2.508,0.281,4.903,1.16,7.235 c0.879,2.346,2.258,4.641,4.129,6.912c1.884,2.295,4.267,4.565,7.167,6.886c2.913,2.358,6.351,4.729,10.317,7.211 c5.564,3.568,11.253,7.585,16.661,12.188c5.489,4.679,10.679,9.956,15.139,15.969c4.517,6.076,8.271,12.888,10.804,20.522 c2.545,7.71,3.849,16.206,3.438,25.562c-0.667,15.308-4.023,28.506-9.569,39.447c-5.477,10.804-13.037,19.287-22.144,25.45 c-8.907,6.013-19.225,9.743-30.446,11.24c-10.897,1.459-22.581,0.811-34.632-1.847c-0.088-0.013-0.188-0.05-0.287-0.075 c-0.094-0.012-0.188-0.037-0.281-0.049c-0.093-0.025-0.187-0.051-0.287-0.075c-0.094-0.013-0.188-0.038-0.287-0.062 c-5.651-1.372-11.104-3.144-16.225-5.228c-5.046-2.033-9.781-4.354-14.097-6.861c-4.254-2.482-8.109-5.14-11.446-7.896 c-3.3-2.732-6.107-5.539-8.309-8.371l13.292-44.113c2.246,1.896,4.99,4.055,8.115,6.237c3.156,2.233,6.706,4.504,10.504,6.637 c3.842,2.146,7.947,4.13,12.17,5.751c4.279,1.635,8.683,2.907,13.049,3.543c3.855,0.562,7.298,0.449,10.311-0.224 c3.038-0.687,5.626-1.946,7.748-3.681c2.133-1.709,3.786-3.893,4.94-6.4c1.154-2.532,1.809-5.364,1.934-8.396 c0.137-3.044-0.138-5.901-0.905-8.671c-0.761-2.781-2.008-5.464-3.799-8.158c-1.791-2.683-4.111-5.377-7.048-8.159 c-2.907-2.757-6.394-5.602-10.523-8.62c-5.084-3.793-9.85-7.897-14.122-12.363c-4.217-4.417-7.959-9.195-11.022-14.372 c-3.031-5.14-5.42-10.691-6.967-16.729c-1.541-6.001-2.251-12.501-1.953-19.587c0.524-11.839,2.889-22.755,6.85-32.573 c4.004-9.931,9.674-18.838,16.785-26.511c7.255-7.822,16.075-14.422,26.242-19.499c10.461-5.228,22.419-8.895,35.674-10.629 c6.15-0.812,12.052-1.186,17.628-1.21c5.664-0.025,10.985,0.312,15.881,0.936c4.965,0.636,9.488,1.559,13.499,2.694 c4.042,1.147,7.548,2.495,10.436,3.967L249.204,241.318z M280.836,79.349c-0.025-1.983-0.075-3.992-0.149-6.038 c-0.587-15.719-2.721-28.956-6.351-39.685c3.955,0.399,7.548,1.709,10.829,4.03c9.145,6.475,15.731,19.511,20.372,34.045 L280.836,79.349z"></path></g></svg>
                                    <p class=" p0 m0">Shopify</p>
                                </div>
                            {% endif %}
                            {% if tool == "Adobe Illustrator" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg fill="#000000"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="2069a460dcf28295e231f3111e03585e"><path display="inline" d="M227.593,217.991l19.188,60.091h-62.627l18.825-60.091c4.346-14.48,7.964-31.493,11.582-45.611h0.724 C218.906,186.499,222.886,203.149,227.593,217.991z M511.5,85.667v340.667c0,46.842-38.325,85.167-85.167,85.167H85.667 C38.825,511.5,0.5,473.175,0.5,426.333V85.667C0.5,38.825,38.825,0.5,85.667,0.5h340.667C473.175,0.5,511.5,38.825,511.5,85.667z M324.246,380.885l-79.279-243.977h-56.83l-78.189,243.977h45.973l20.997-69.14h77.465l22.082,69.14H324.246z M399.52,204.597 h-44.888v176.288h44.888V204.597z M402.052,155.368c-0.362-13.756-9.772-24.252-24.977-24.252 c-14.842,0-24.976,10.496-24.976,24.252c0,13.395,9.772,23.891,24.614,23.891C392.279,179.258,402.052,168.762,402.052,155.368z"></path></g></svg>
                                    <p class=" p0 m0">Adobe Illustrator</p>
                                </div>
                            {% endif %}
                            {% if tool == "Liquid" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 274 384" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M113.617 13.5C124.01 -4.50001 149.99 -4.49999 160.383 13.5L251.315 171C251.753 171.758 252.149 172.524 252.505 173.297C266.112 194.577 274 219.867 274 247C274 322.663 212.663 384 137 384C61.337 384 0 322.663 0 247C0 219.867 7.88751 194.577 21.4948 173.296C21.8506 172.524 22.2469 171.758 22.6846 171L113.617 13.5ZM127.915 91.9611C131.207 86.2093 129.213 78.8776 123.461 75.5854C117.709 72.2932 110.378 74.2872 107.085 80.0391C92.6162 105.318 60.8284 161.137 49.9412 181.298C42.0354 195.939 38.804 213.412 38.1971 228.583C37.6019 243.464 39.4601 258.207 43.5343 267.374C46.226 273.43 53.3175 276.157 59.3737 273.466C65.4299 270.774 68.1574 263.683 65.4658 257.626C63.54 253.293 61.6482 242.786 62.1779 229.542C62.6961 216.588 65.4646 203.062 71.0589 192.702C81.7717 172.863 113.384 117.348 127.915 91.9611Z" fill="black"/></svg>
                                    <p class=" p0 m0">Liquid Templating Language</p>
                                </div>
                            {% endif %}
                            {% if tool == "CSS" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 199 75" fill="none"><path d="M0.643555 0.555664L58.3759 0.555664V24.864L24.7862 24.864L24.7862 49.1724H58.3759L58.3759 73.4807H0.643555L0.643555 0.555664Z" fill="black"/><path d="M70.5303 0.555664L128.263 0.555664V21.8255L94.6729 21.8255V26.0794L128.263 26.0794V75H70.5303V52.6667H104.12V48.4127H70.5303V0.555664Z" fill="black"/><path d="M140.417 0.555664L198.15 0.555664V21.8255L164.56 21.8255V26.0794L198.15 26.0794V75H140.417V52.6667H174.007V48.4127H140.417V0.555664Z" fill="black"/></svg>
                                    <p class=" p0 m0">CSS</p>
                                </div>
                            {% endif %}
                            {% if tool == "Deno" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg width="20px" height="20px" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M256 0C323.895 0 389.01 26.9713 437.019 74.9807C485.029 122.99 512 188.105 512 256C512 323.895 485.029 389.01 437.019 437.019C389.01 485.029 323.895 512 256 512C188.105 512 122.99 485.029 74.9807 437.019C26.9713 389.01 0 323.895 0 256C0 188.105 26.9713 122.99 74.9807 74.9807C122.99 26.9713 188.105 0 256 0ZM246 144.9C171.6 144.9 113.6 191.8 113.6 250.1C113.6 305.1 166.9 340.2 249.5 338.5L252 338.4L261.1 338.1L258.8 344.1L259.1 344.7C259.759 346.243 260.359 347.811 260.9 349.4L261.1 350L261.4 351L261.8 352.4L262.1 353.3L262.5 354.3L262.8 355.4L263.2 357L263.7 358.7L264 359.8L264.5 361.6L265 363.5L265.4 365.4L265.9 367.4L266.3 368.8L266.8 371L267.3 373.2L268 376.2L268.3 377.8L268.8 380.2L269.3 382.7L269.9 385.3L270.6 389L271.2 392L272 396.2L272.4 398.3L273.1 401.6L273.7 405L274.5 409.6L275.4 414.4L276.2 419.4L277.1 424.5L278 429.7L278.9 435.1L279.8 440.7L280.5 445L281.6 452.3L282.1 455.3L283.3 463L284.2 469.3L285 474.1L285.9 480.7L286.4 484C341.3 476.7 390.1 450.1 425.7 411.2L426.8 410L421.7 391L408.2 340.5L399.8 309.1L392.4 281.5L387.8 264.7L384.9 254.1L383.2 247.7L381.6 242.1L381 239.7L380.6 238.4L380.4 237.7L380.2 237.1C372.4 212 357.3 189.8 336.7 173.7C312.5 154.8 281.8 144.9 246 144.9ZM180.6 411.8C174.1 410 167.3 413.8 165.4 420.3L165.3 420.6L154.1 462.2C161.103 465.665 168.279 468.769 175.6 471.5L177.3 472.2L189.4 427.1L189.5 426.8C191.1 420.2 187.2 413.5 180.6 411.8ZM250.3 381.3C243.7 379.5 236.9 383.3 235 389.8L234.9 390.1L217.9 453.1V453.4C217.241 456.526 217.804 459.786 219.474 462.509C221.143 465.233 223.792 467.214 226.876 468.046C229.961 468.878 233.247 468.498 236.059 466.983C238.872 465.468 240.998 462.933 242 459.9L242.1 459.6L259.1 396.6V396.3L259.4 394.9L259.5 394.4L259.1 392.3L258.5 389.4L258.1 387.6C257.305 386.068 256.202 384.718 254.859 383.634C253.517 382.549 251.965 381.755 250.3 381.3ZM131.8 316.4L131 318.3L130.9 318.7L113.9 381.7L113.8 382C113.042 385.157 113.543 388.485 115.195 391.279C116.847 394.074 119.522 396.116 122.653 396.973C125.784 397.831 129.126 397.436 131.972 395.874C134.818 394.311 136.944 391.702 137.9 388.6L138 388.3L153.4 331.1C145.4 326.9 138.1 321.9 131.8 316.4ZM91.3 243.9C84.7 242.2 77.9 246 76 252.4L75.9 252.7L58.9 315.7V316C58.1423 319.157 58.6426 322.485 60.2949 325.279C61.9472 328.074 64.622 330.116 67.7532 330.973C70.8844 331.831 74.2263 331.436 77.0719 329.874C79.9175 328.311 82.0435 325.702 83 322.6L83.1 322.3L100.1 259.3V259C101.7 252.4 97.8 245.7 91.3 243.9ZM472.4 229.6C465.9 227.9 459.1 231.7 457.2 238.1L457.1 238.4L440.1 301.4L440 301.7C439.125 304.909 439.56 308.334 441.211 311.223C442.861 314.111 445.591 316.225 448.8 317.1C452.009 317.975 455.435 317.54 458.323 315.889C461.211 314.239 463.325 311.509 464.2 308.3V308L481.3 245V244.6C482.9 238.1 479 231.4 472.4 229.6ZM54.2 145.5C39.9551 171.44 30.887 199.901 27.5 229.3C29.1405 231.158 31.3 232.481 33.7 233.1C40.2 234.8 47 231 48.9 224.6L49 224.3L66 161.3L66.1 161C67.7 154.4 63.8 147.7 57.2 145.9C56.2195 145.648 55.2124 145.513 54.2 145.5ZM429.4 145.9C422.8 144.2 416.1 148 414.1 154.4V154.7L397.1 217.7L397 218C396.242 221.157 396.743 224.485 398.395 227.279C400.047 230.074 402.722 232.116 405.853 232.973C408.984 233.831 412.326 233.436 415.172 231.874C418.018 230.311 420.144 227.702 421.1 224.6L421.2 224.3L438.2 161.3L438.3 161C439.9 154.4 435.9 147.7 429.4 145.9ZM113 94.5C114.9 88.1 121.7 84.3 128.2 86C134.8 87.8 138.7 94.5 137.1 101L137 101.4L120 164.4L119.9 164.7C118.944 167.802 116.818 170.411 113.972 171.974C111.126 173.536 107.784 173.931 104.653 173.073C101.522 172.216 98.8472 170.174 97.1949 167.379C95.5426 164.585 95.0423 161.257 95.8 158.1L95.9 157.8L112.9 94.8L113 94.5ZM331.4 106.4C333.3 100 340.1 96.2 346.7 97.9C353.2 99.7 357.1 106.4 355.5 113V113.3L342.1 162.8L341 161.9C334.357 157.02 327.297 152.737 319.9 149.1L331.3 106.7L331.4 106.4ZM211.7 30.3C219.569 28.7523 227.513 27.6175 235.5 26.9C235.894 28.7499 235.86 30.6654 235.4 32.5L235.3 32.8L218.3 95.8L218.2 96.1C217.198 99.1333 215.072 101.668 212.259 103.183C209.447 104.698 206.161 105.078 203.076 104.246C199.992 103.414 197.343 101.433 195.674 98.7094C194.004 95.9856 193.441 92.726 194.1 89.6L194.2 89.3L210 30.6L211.7 30.3ZM388.6 82.8L391.9 70.4L393.4 71.5C400.268 76.6305 406.844 82.139 413.1 88L412.7 89.3L412.6 89.6C411.598 92.6333 409.472 95.1676 406.659 96.6826C403.847 98.1976 400.561 98.5782 397.476 97.7463C394.392 96.9144 391.743 94.9332 390.074 92.2094C388.404 89.4856 387.841 86.226 388.5 83.1L388.6 82.8ZM287 51.3L293 29L294.8 29.3C302.413 30.584 309.956 32.2528 317.4 34.3L311.1 57.8L311 58.1C309.998 61.1333 307.872 63.6676 305.059 65.1826C302.247 66.6976 298.961 67.0782 295.876 66.2463C292.792 65.4144 290.143 63.4332 288.474 60.7094C286.804 57.9856 286.241 54.726 286.9 51.6L287 51.3Z" fill="black"/><path d="M262 187C266.243 187 270.313 188.686 273.314 191.686C276.314 194.687 278 198.757 278 203C278 207.243 276.314 211.313 273.314 214.314C270.313 217.314 266.243 219 262 219C257.757 219 253.687 217.314 250.686 214.314C247.686 211.313 246 207.243 246 203C246 198.757 247.686 194.687 250.686 191.686C253.687 188.686 257.757 187 262 187Z" fill="black"/></svg>                                                                
                                    <p class=" p0 m0">Deno Runtime</p>
                                </div>
                            {% endif %}
                            {% if tool == "Vanilla Javascript" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H24V24H0V0ZM18.3467 20.1196C17.2343 20.1196 16.6053 19.5394 16.1219 18.7501L14.2891 19.8149C14.9512 21.123 16.3044 22.1211 18.3989 22.1211C20.5409 22.1211 22.136 21.0088 22.136 18.9783C22.136 17.0949 21.0541 16.2571 19.1379 15.4354L18.5741 15.1939C17.6065 14.7749 17.1874 14.501 17.1874 13.8244C17.1874 13.277 17.6061 12.8579 18.2667 12.8579C18.9143 12.8579 19.3314 13.131 19.7181 13.8244L21.4743 12.6968C20.7314 11.3901 19.7006 10.891 18.2667 10.891C16.2526 10.891 14.9638 12.1787 14.9638 13.8701C14.9638 15.7063 16.0449 16.5749 17.6724 17.2682L18.2362 17.5101C19.2648 17.96 19.8781 18.2339 19.8781 19.0072C19.8781 19.6526 19.2811 20.1196 18.3467 20.1196ZM9.60647 20.1055C8.83161 20.1055 8.50933 19.5741 8.15504 18.9455L6.31923 20.057C6.85104 21.1825 7.89676 22.117 9.70247 22.117C11.7009 22.117 13.0701 21.0541 13.0701 18.7189V11.0198H10.8149V18.6884C10.8149 19.8156 10.3474 20.1055 9.60647 20.1055Z" fill="#000000"/></svg>
                                    <p class=" p0 m0">Vanilla Javascript</p>
                                </div>
                            {% endif %}
                            {% if tool == "Webflow" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g clip-path="url(#clip0_2000_167)"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM12.0313 11.6688L12.9375 8.81252H12.9313C13.3313 7.73127 14.1188 6.71252 15.6188 6.71252L13.4938 11.875C13.3092 12.46 12.9432 12.971 12.4488 13.3339C11.9543 13.6969 11.3571 13.893 10.7438 13.8938C10.7438 13.8938 10.1188 9.45627 10.1188 9.35627L9.18127 11.7938C8.76252 12.875 7.95002 13.8938 6.45002 13.8938L5.27502 6.71877C5.84695 6.73311 6.39376 6.95669 6.81189 7.34717C7.23001 7.73765 7.49041 8.26791 7.54377 8.83752C7.54377 8.83752 7.70002 11.4688 7.70002 11.675L8.80627 8.81252C9.20627 7.73127 9.96877 6.71252 11.4063 6.71252C11.4063 6.71252 12.0313 11.45 12.0313 11.6688Z" fill="#000000"/></g><defs><clipPath id="clip0_2000_167"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>
                                    <p class=" p0 m0">Webflow</p>
                                </div>
                            {% endif %}
                            {% if tool == "Memberstack" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.1016 11.0285L17.6991 5.62335H13.3492V10.4424L14.2051 8.4227L14.2051 8.42262L13.7292 9.54569V6.20915H17.9594L18.4565 7.32747C18.1563 7.223 17.8337 7.16622 17.4979 7.16622C16.1108 7.16622 14.9499 8.13484 14.6542 9.43283L16.1473 12.7921C16.6334 13.8858 17.9128 14.3778 19.0047 13.8908C20.0967 13.4038 20.5878 12.1223 20.1016 11.0285Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.255 6.63397L10.2579 6.6405L12.1571 2.15874C12.508 1.3306 13.3126 0.834388 14.1578 0.837355C14.9892 0.834448 15.7837 1.31432 16.1436 2.12403L18.4544 7.32294C17.9884 6.91984 17.3813 6.67606 16.7173 6.67606C15.5636 6.67606 14.5815 7.41202 14.2132 8.44092L14.2051 8.42262L12.3394 12.8252C11.8724 13.9273 10.6018 14.4415 9.50154 13.9737C9.39559 13.9287 9.29336 13.8754 9.19582 13.8142C8.79232 13.5944 8.45518 13.2448 8.25396 12.7921L6.31934 8.43954C6.61054 8.52308 6.91814 8.56782 7.23614 8.56782C8.5743 8.56782 9.7278 7.7757 10.255 6.63397H10.255Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7291 9.35606V5.52844L10.2579 6.6405L8.2504 2.12403C7.89052 1.31432 7.09596 0.834448 6.26456 0.837355C5.4194 0.834388 4.6148 1.3306 4.26386 2.15874L1.48914 8.70659V8.70675L2.09306 7.28156C2.55346 6.89972 3.14454 6.67017 3.78918 6.67017C4.94951 6.67017 5.93631 7.4138 6.29985 8.45092L6.31184 8.42262L6.72674 9.35606H10.7291Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.89096 9.4159L4.44622 12.8252C3.9792 13.9273 2.70862 14.4416 1.60836 13.9737C0.508084 13.5059 -0.00523588 12.2332 0.461784 11.1311L2.06602 7.34534C2.40562 7.19477 2.78122 7.11115 3.17622 7.11115C4.53998 7.11115 5.67214 8.10778 5.89096 9.41592V9.4159Z" fill="black"/></svg>
                                    <p class=" p0 m0">Memberstack</p>
                                </div>
                            {% endif %}
                            {% if tool == "Figma" %}
                                <div class="tag2 flex gap2 vertically-center pb1">
                                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 3H9C7.34315 3 6 4.34315 6 6C6 7.65685 7.34315 9 9 9M12 3V9M12 3H15C16.6569 3 18 4.34315 18 6C18 7.65685 16.6569 9 15 9M12 9H9M12 9H15M12 9V15M9 9C7.34315 9 6 10.3431 6 12C6 13.6569 7.34315 15 9 15M15 9C16.6569 9 18 10.3431 18 12C18 13.6569 16.6569 15 15 15C13.3431 15 12 13.6569 12 12C12 10.3431 13.3431 9 15 9ZM12 15H9M12 15V18C12 19.6569 10.6569 21 9 21C7.34315 21 6 19.6569 6 18C6 16.3431 7.34315 15 9 15" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    <p class=" p0 m0">Figma</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="hero-photo" class="absolute" style="height: 100%; top: 164px; z-index: 2; background-repeat: no-repeat;"></div>
</section>

<div class="container-wrapper">
    {% for context in project.information %}
        {% if context.type == "regular" %}
            <section class="container pb12">
                <div class="flex flexdir-col full-width mb6">
                    <p class="p0 m0 textcallout1 header2">{{ context.overline }}</p>
                    <h2 class="m0 p0 textcallout1 header1">{{ context.header }}</h2>
                </div>
                <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                    <div class="flex flexdir-col full-width">
                        {% for paragraph in context.paragraphs %}
                            <p class="pt0 mt0">{{ paragraph }}</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {%  if context.type == "warning" %}
            <section class="container pb8">
                <div class="card-attention-negative">                
                    <div class="flex flexdir-col gap1 full-width mb4 mt2">
                        <p class="p0 m0 textcallout1 header2">{{ context.overline }}</p>
                        <h2 class="m0 p0 textcallout1 header2">{{ context.header }}</h2>
                    </div>
                    <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                        <div class="flex flexdir-col full-width">
                            {% for paragraph in context.paragraphs %}
                                <p class="pt0 mt0">{{ paragraph }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>

<div class="container-wrapper">
    {% for group in project.designs %}
        <section class="container pb12">
            <div class="flex flexdir-col gap1 full-width mb6">
                <p class="p0 m0 textcallout1 header2">{{ group.overline }}</p>
                <h2 class="m0 p0 textcallout1 header1">{{ group.header }}</h2>
            </div>
            <div class="container-inner full-width grid gridcols4">
                {% for image in group.images %}
                    <div class="block full-width colspan1-lg colspan2-md colspan2-sm colspan4-xs" style="height: 100%;">
                        <div class="flex flexdir-col justify-between" style="height: 100%;">                    
                            <div class="pl2 pr2 pt4 flex justify-around full-height vertically-end" style="background: var(--color-bg-3);">
                                <img src="./static/{{ image.image }}">
                            </div>
                            <div class="pt2 pb2 pl2 pr2" style="min-height: 72px; border-top: 0.5px solid var(--color-border); background: var(--color-bg-2);">
                                <p class="pt0 mt0 textcenter">{{ image.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                <div class="flex flexdir-col gap2 full-width">
                </div>
            </div>
        </section>
    {% endfor %}
</div>

{% endblock %}