{% layout "layout-default.liquid" %}

{% block %}
<section class="pt25 pb22 mb12 relative full-width animation-glow" style="overflow: hidden; background: #D4BAFD;">
    <div class="container flex" style="overflow: hidden;">
        <div class="flex flexdir-col gap5" style="z-index: 3;">
            <div class="flex flexdir-col gap2">
                <h1 class="p0 m0 header1 textcallout1">{{ project.basics.name }}</h1>
                <p class="p0 m0 pb2 textcallout1" style="font-size: 20px;">{{ project.basics.description }}</p>
                <div class="pb2 flex gap2 flexwrap-true">
                    {% for category in project.basics.categories %}
                        <p class="tag">{{ category }}</p>
                    {% endfor %}
                </div>
                <div class="pb2">
                    <p class="overline p0 m0 pb1">Created using</p>
                    {% for tool in project.basics.tooling %}
                        {% if tool == "Shopify" %}
                            <svg fill="#000000"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="c2be471c56fc5b4dd571614bb3052f50"><path d="M425.228,100.457c0,0-0.425-2.308-1.734-3.144c-1.311-0.836-2.732-0.998-2.732-0.998l-41.082-3.057l-30.228-30.053 c-1.147-0.874-2.471-1.385-3.817-1.66c-3.219-0.624-7.548,0.125-8.347,0.312l-15.682,4.853 c-6.812-20.11-16.118-34.432-27.795-42.716c-8.634-6.101-18.146-8.695-28.363-7.922c-2.146-2.857-4.51-5.352-7.099-7.448 c-11.334-9.157-25.955-10.579-43.446-4.241c-52.454,19.05-74.722,87.029-82.75,120.987L86.437,139.53 c0,0-10.767,3.069-13.293,6.088c-2.775,3.318-3.306,12.301-3.306,12.301l-38.78,299.087L323.215,511.5l157.728-34.133 L425.228,100.457z M263.326,84.763l-50.513,15.632c6.693-26.211,19.555-52.996,44.145-63.438 C262.066,50.331,263.476,68.632,263.326,84.763z M220.897,20.901c10.685-3.88,18.894-3.706,25.069,0.461 c-32.96,15.033-47.351,52.909-53.563,85.357l-40.445,12.525C160.99,86.584,181.144,35.335,220.897,20.901z M249.204,241.318 c-2.314-1.123-5.046-2.321-8.134-3.456c-3.063-1.147-6.475-2.233-10.174-3.131c-3.662-0.898-7.604-1.622-11.758-2.046 c-4.117-0.437-8.44-0.574-12.918-0.312c-4.11,0.25-7.834,0.985-11.109,2.158c-3.256,1.148-6.075,2.745-8.396,4.729 c-2.32,1.971-4.148,4.329-5.439,7.049c-1.279,2.707-2.034,5.751-2.177,9.132c-0.112,2.508,0.281,4.903,1.16,7.235 c0.879,2.346,2.258,4.641,4.129,6.912c1.884,2.295,4.267,4.565,7.167,6.886c2.913,2.358,6.351,4.729,10.317,7.211 c5.564,3.568,11.253,7.585,16.661,12.188c5.489,4.679,10.679,9.956,15.139,15.969c4.517,6.076,8.271,12.888,10.804,20.522 c2.545,7.71,3.849,16.206,3.438,25.562c-0.667,15.308-4.023,28.506-9.569,39.447c-5.477,10.804-13.037,19.287-22.144,25.45 c-8.907,6.013-19.225,9.743-30.446,11.24c-10.897,1.459-22.581,0.811-34.632-1.847c-0.088-0.013-0.188-0.05-0.287-0.075 c-0.094-0.012-0.188-0.037-0.281-0.049c-0.093-0.025-0.187-0.051-0.287-0.075c-0.094-0.013-0.188-0.038-0.287-0.062 c-5.651-1.372-11.104-3.144-16.225-5.228c-5.046-2.033-9.781-4.354-14.097-6.861c-4.254-2.482-8.109-5.14-11.446-7.896 c-3.3-2.732-6.107-5.539-8.309-8.371l13.292-44.113c2.246,1.896,4.99,4.055,8.115,6.237c3.156,2.233,6.706,4.504,10.504,6.637 c3.842,2.146,7.947,4.13,12.17,5.751c4.279,1.635,8.683,2.907,13.049,3.543c3.855,0.562,7.298,0.449,10.311-0.224 c3.038-0.687,5.626-1.946,7.748-3.681c2.133-1.709,3.786-3.893,4.94-6.4c1.154-2.532,1.809-5.364,1.934-8.396 c0.137-3.044-0.138-5.901-0.905-8.671c-0.761-2.781-2.008-5.464-3.799-8.158c-1.791-2.683-4.111-5.377-7.048-8.159 c-2.907-2.757-6.394-5.602-10.523-8.62c-5.084-3.793-9.85-7.897-14.122-12.363c-4.217-4.417-7.959-9.195-11.022-14.372 c-3.031-5.14-5.42-10.691-6.967-16.729c-1.541-6.001-2.251-12.501-1.953-19.587c0.524-11.839,2.889-22.755,6.85-32.573 c4.004-9.931,9.674-18.838,16.785-26.511c7.255-7.822,16.075-14.422,26.242-19.499c10.461-5.228,22.419-8.895,35.674-10.629 c6.15-0.812,12.052-1.186,17.628-1.21c5.664-0.025,10.985,0.312,15.881,0.936c4.965,0.636,9.488,1.559,13.499,2.694 c4.042,1.147,7.548,2.495,10.436,3.967L249.204,241.318z M280.836,79.349c-0.025-1.983-0.075-3.992-0.149-6.038 c-0.587-15.719-2.721-28.956-6.351-39.685c3.955,0.399,7.548,1.709,10.829,4.03c9.145,6.475,15.731,19.511,20.372,34.045 L280.836,79.349z"></path></g></svg>
                        {% endif %}
                        {% if tool == "Adobe Illustrator" %}
                            <svg fill="#000000"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"><g id="2069a460dcf28295e231f3111e03585e"><path display="inline" d="M227.593,217.991l19.188,60.091h-62.627l18.825-60.091c4.346-14.48,7.964-31.493,11.582-45.611h0.724 C218.906,186.499,222.886,203.149,227.593,217.991z M511.5,85.667v340.667c0,46.842-38.325,85.167-85.167,85.167H85.667 C38.825,511.5,0.5,473.175,0.5,426.333V85.667C0.5,38.825,38.825,0.5,85.667,0.5h340.667C473.175,0.5,511.5,38.825,511.5,85.667z M324.246,380.885l-79.279-243.977h-56.83l-78.189,243.977h45.973l20.997-69.14h77.465l22.082,69.14H324.246z M399.52,204.597 h-44.888v176.288h44.888V204.597z M402.052,155.368c-0.362-13.756-9.772-24.252-24.977-24.252 c-14.842,0-24.976,10.496-24.976,24.252c0,13.395,9.772,23.891,24.614,23.891C392.279,179.258,402.052,168.762,402.052,155.368z"></path></g></svg>
                        {% endif %}
                        {% if tool == "Vanilla Javascript" %}
                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H24V24H0V0ZM18.3467 20.1196C17.2343 20.1196 16.6053 19.5394 16.1219 18.7501L14.2891 19.8149C14.9512 21.123 16.3044 22.1211 18.3989 22.1211C20.5409 22.1211 22.136 21.0088 22.136 18.9783C22.136 17.0949 21.0541 16.2571 19.1379 15.4354L18.5741 15.1939C17.6065 14.7749 17.1874 14.501 17.1874 13.8244C17.1874 13.277 17.6061 12.8579 18.2667 12.8579C18.9143 12.8579 19.3314 13.131 19.7181 13.8244L21.4743 12.6968C20.7314 11.3901 19.7006 10.891 18.2667 10.891C16.2526 10.891 14.9638 12.1787 14.9638 13.8701C14.9638 15.7063 16.0449 16.5749 17.6724 17.2682L18.2362 17.5101C19.2648 17.96 19.8781 18.2339 19.8781 19.0072C19.8781 19.6526 19.2811 20.1196 18.3467 20.1196ZM9.60647 20.1055C8.83161 20.1055 8.50933 19.5741 8.15504 18.9455L6.31923 20.057C6.85104 21.1825 7.89676 22.117 9.70247 22.117C11.7009 22.117 13.0701 21.0541 13.0701 18.7189V11.0198H10.8149V18.6884C10.8149 19.8156 10.3474 20.1055 9.60647 20.1055Z" fill="#000000"/></svg>
                        {% endif %}
                        {% if tool == "Webflow" %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g clip-path="url(#clip0_2000_167)"><path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM12.0313 11.6688L12.9375 8.81252H12.9313C13.3313 7.73127 14.1188 6.71252 15.6188 6.71252L13.4938 11.875C13.3092 12.46 12.9432 12.971 12.4488 13.3339C11.9543 13.6969 11.3571 13.893 10.7438 13.8938C10.7438 13.8938 10.1188 9.45627 10.1188 9.35627L9.18127 11.7938C8.76252 12.875 7.95002 13.8938 6.45002 13.8938L5.27502 6.71877C5.84695 6.73311 6.39376 6.95669 6.81189 7.34717C7.23001 7.73765 7.49041 8.26791 7.54377 8.83752C7.54377 8.83752 7.70002 11.4688 7.70002 11.675L8.80627 8.81252C9.20627 7.73127 9.96877 6.71252 11.4063 6.71252C11.4063 6.71252 12.0313 11.45 12.0313 11.6688Z" fill="#000000"/></g><defs><clipPath id="clip0_2000_167"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>
                        {% endif %}
                        {% if tool == "Memberstack" %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.1016 11.0285L17.6991 5.62335H13.3492V10.4424L14.2051 8.4227L14.2051 8.42262L13.7292 9.54569V6.20915H17.9594L18.4565 7.32747C18.1563 7.223 17.8337 7.16622 17.4979 7.16622C16.1108 7.16622 14.9499 8.13484 14.6542 9.43283L16.1473 12.7921C16.6334 13.8858 17.9128 14.3778 19.0047 13.8908C20.0967 13.4038 20.5878 12.1223 20.1016 11.0285Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.255 6.63397L10.2579 6.6405L12.1571 2.15874C12.508 1.3306 13.3126 0.834388 14.1578 0.837355C14.9892 0.834448 15.7837 1.31432 16.1436 2.12403L18.4544 7.32294C17.9884 6.91984 17.3813 6.67606 16.7173 6.67606C15.5636 6.67606 14.5815 7.41202 14.2132 8.44092L14.2051 8.42262L12.3394 12.8252C11.8724 13.9273 10.6018 14.4415 9.50154 13.9737C9.39559 13.9287 9.29336 13.8754 9.19582 13.8142C8.79232 13.5944 8.45518 13.2448 8.25396 12.7921L6.31934 8.43954C6.61054 8.52308 6.91814 8.56782 7.23614 8.56782C8.5743 8.56782 9.7278 7.7757 10.255 6.63397H10.255Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7291 9.35606V5.52844L10.2579 6.6405L8.2504 2.12403C7.89052 1.31432 7.09596 0.834448 6.26456 0.837355C5.4194 0.834388 4.6148 1.3306 4.26386 2.15874L1.48914 8.70659V8.70675L2.09306 7.28156C2.55346 6.89972 3.14454 6.67017 3.78918 6.67017C4.94951 6.67017 5.93631 7.4138 6.29985 8.45092L6.31184 8.42262L6.72674 9.35606H10.7291Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.89096 9.4159L4.44622 12.8252C3.9792 13.9273 2.70862 14.4416 1.60836 13.9737C0.508084 13.5059 -0.00523588 12.2332 0.461784 11.1311L2.06602 7.34534C2.40562 7.19477 2.78122 7.11115 3.17622 7.11115C4.53998 7.11115 5.67214 8.10778 5.89096 9.41592V9.4159Z" fill="black"/></svg>
                        {% endif %}
                        {% if tool == "Figma" %}
                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 3H9C7.34315 3 6 4.34315 6 6C6 7.65685 7.34315 9 9 9M12 3V9M12 3H15C16.6569 3 18 4.34315 18 6C18 7.65685 16.6569 9 15 9M12 9H9M12 9H15M12 9V15M9 9C7.34315 9 6 10.3431 6 12C6 13.6569 7.34315 15 9 15M15 9C16.6569 9 18 10.3431 18 12C18 13.6569 16.6569 15 15 15C13.3431 15 12 13.6569 12 12C12 10.3431 13.3431 9 15 9ZM12 15H9M12 15V18C12 19.6569 10.6569 21 9 21C7.34315 21 6 19.6569 6 18C6 16.3431 7.34315 15 9 15" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="hero-photo" class="absolute" style="height: 100%; top: 164px; z-index: 2; background-repeat: no-repeat;"></div>
</section>

<div class="container-wrapper">
    {% for context in project.information %}
        {% if context.type == "regular" %}
            <section class="container pb12">
                <div class="flex flexdir-col full-width mb6">
                    <p class="p0 m0 textcallout1 header2">{{ context.overline }}</p>
                    <h2 class="m0 p0 textcallout1 header1">{{ context.header }}</h2>
                </div>
                <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                    <div class="flex flexdir-col full-width">
                        {% for paragraph in context.paragraphs %}
                            <p class="pt0 mt0">{{ paragraph }}</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        {% endif %}
        {%  if context.type == "warning" %}
            <section class="container pb8">
                <div class="card-attention-negative">                
                    <div class="flex flexdir-col gap1 full-width mb4 mt2">
                        <p class="p0 m0 textcallout1 header2">{{ context.overline }}</p>
                        <h2 class="m0 p0 textcallout1 header2">{{ context.header }}</h2>
                    </div>
                    <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                        <div class="flex flexdir-col full-width">
                            {% for paragraph in context.paragraphs %}
                                <p class="pt0 mt0">{{ paragraph }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
</div>

<div class="container-wrapper">
    {% for group in project.designs %}
        <section class="container pb12">
            <div class="flex flexdir-col gap1 full-width mb6">
                <p class="p0 m0 textcallout1 header2">{{ group.overline }}</p>
                <h2 class="m0 p0 textcallout1 header1">{{ group.header }}</h2>
            </div>
            <div class="container-inner full-width grid gridcols4">
                {% for image in group.images %}
                    <div class="block full-width colspan1-lg colspan2-md colspan2-sm colspan4-xs" style="height: 100%;">
                        <div class="flex flexdir-col justify-between" style="height: 100%;">                    
                            <div class="pl2 pr2 pt4 flex justify-around full-height vertically-end" style="background: var(--color-bg-3);">
                                <img src="./static/{{ image.image }}">
                            </div>
                            <div class="pt2 pb2 pl2 pr2" style="min-height: 72px; border-top: 0.5px solid var(--color-border); background: var(--color-bg-2);">
                                <p class="pt0 mt0 textcenter">{{ image.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="flex flexdir-col gap5" style="width: 100%; height: 100%;">
                <div class="flex flexdir-col gap2 full-width">
                </div>
            </div>
        </section>
    {% endfor %}
</div>

{% comment %} <!-- Trusted By SM and down -->
<div class="container-wrapper pt0 mt0 card-xs card-sm" style="padding-top: 0px;">
    <section class="container flex relative">
        <div class="flex flexdir-col" style="width: 100%; height: 100%;">
            <div class="flex flexdir-col" style="flex-grow: 1;">
                <div class="flex flexdir-col gap1 full-width mb6">
                    <p class="p0 m0 textcallout1 header2">Experienced and Trusted</p>
                    <h2 class="m0 p0 textcallout1 header1">Trusted by</h2>
                </div>
                
                <div class="container-inner full-width flex justify-around flexdir-col-xs">
                    <div class="block pt5 pb5 full-width flex flexdir-col justify-around">
                        <div class="full-width flex justify-around" style="min-height: 80px;">
                            <img src="./static/idelic-logo.png"class="full-width" style="max-width: 132px; object-fit: contain;">
                        </div>
                    </div>
                    <div class="block pt5 pb5 full-width flex flexdir-col justify-around">
                        <div class="full-width flex justify-around" style="min-height: 80px;">
                            <img src="./static/elburro-logo.png" class="full-width" style="max-width: 132px; object-fit: contain;">
                        </div>
                    </div>
                    <div class="block pt5 pb5 full-width flex flexdir-col justify-around">
                        <div class="full-width flex justify-around" style="min-height: 80px;">
                            <img src="./static/dkprojectbuilding-logo.png" class="full-width" style="max-width: 132px; object-fit: contain;">
                        </div>
                    </div>
                </div>

                <div class="container-inner full-width flex justify-around flexdir-col-xs">
                    <div class="block pt5 pb5 full-width flex flexdir-col justify-around">
                        <div class="full-width flex justify-around" style="min-height: 80px;">
                            <img src="./static/chugsrus-logo.png" class="full-width" style="max-width: 132px; object-fit: contain;">
                        </div>
                    </div>
                    <div class="block pt5 pb5 full-width flex flexdir-col justify-around">
                        <div class="full-width flex justify-around" style="min-height: 80px;">
                            <img src="./static/pizzapeno-logo.png" class="full-width" style="max-width: 132px; object-fit: contain;">
                        </div>
                    </div>
                    <div class="block pt5 pb5 full-width flex flexdir-col justify-around">
                        <div class="full-width flex justify-around" style="min-height: 80px;">
                            <img src="./static/renewproject-logo.png" class="full-width" style="max-width: 132px; object-fit: contain;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> {% endcomment %}

{% comment %} <div id="work" class="container-wrapper pt0 mt0 card-xs card-sm mt20" style="padding-top: 0px; ">
    <section class="container flex relative">
        <div class="flex flexdir-col" style="width: 100%; height: 100%;">
            <div class="flex flexdir-col" style="flex-grow: 1;">
                <div class="flex flexdir-col gap1 full-width mb6">
                    <p class="p0 m0 textcallout1 header2">Some Featured</p>
                    <h2 class="m0 p0 textcallout1 header1">Web Work</h2>
                </div>

                <div class="container-inner full-width grid gridcols4 justify-around flexdir-col-xs flexdir-col-sm">
                    {% for uxuiproject in uxuiProjects %}

                        <div class="full-width flex colspan1-lg colspan2-md colspan2-sm colspan4-xs">
                            <a href="/uxui/{{ uxuiproject.url }}" class="block click-to-view full-width" style="text-decoration: none;">
                                <div class="full-width pb5" style="height: 100%;">
                                    <div class="flex flexdir-col justify-between gap5" style="height: 100%;">
                                        <div class="full-width flex flexdir-col gap2">
                                            <div style="background: var(--color-bg-1);" class="full-width flex justify-around pb5 pt5 mb4">
                                                <img src="./static/{{ uxuiproject.url }}-logo.png" style="height: 32px;">
                                            </div>
                                            <div class="flex flexdir-col gap2 pl5 pr5">
                                                <p class="header3 m0 textcallout1">{{ uxuiproject.name }}</p>
                                                <p class="m0">{{ uxuiproject.description }}</p>
                                            </div>
                                        </div>
                                        <div class="full-width flex justify-between vertically-center pl5 pr5">
                                            <div>
                                                <p class="overline p0 m0 pb1">Created using</p>
                                                <div class="flex gap2 vertically-center">
                                                    {% for tool in uxuiproject.tooling %}
                                                        {% if tool == "Shopify" %}
                                                            <svg fill="#000000"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                            
                                                                <g id="c2be471c56fc5b4dd571614bb3052f50">
                                                                
                                                                <path d="M425.228,100.457c0,0-0.425-2.308-1.734-3.144c-1.311-0.836-2.732-0.998-2.732-0.998l-41.082-3.057l-30.228-30.053
                                                                        c-1.147-0.874-2.471-1.385-3.817-1.66c-3.219-0.624-7.548,0.125-8.347,0.312l-15.682,4.853
                                                                        c-6.812-20.11-16.118-34.432-27.795-42.716c-8.634-6.101-18.146-8.695-28.363-7.922c-2.146-2.857-4.51-5.352-7.099-7.448
                                                                        c-11.334-9.157-25.955-10.579-43.446-4.241c-52.454,19.05-74.722,87.029-82.75,120.987L86.437,139.53
                                                                        c0,0-10.767,3.069-13.293,6.088c-2.775,3.318-3.306,12.301-3.306,12.301l-38.78,299.087L323.215,511.5l157.728-34.133
                                                                        L425.228,100.457z M263.326,84.763l-50.513,15.632c6.693-26.211,19.555-52.996,44.145-63.438
                                                                        C262.066,50.331,263.476,68.632,263.326,84.763z M220.897,20.901c10.685-3.88,18.894-3.706,25.069,0.461
                                                                        c-32.96,15.033-47.351,52.909-53.563,85.357l-40.445,12.525C160.99,86.584,181.144,35.335,220.897,20.901z M249.204,241.318
                                                                        c-2.314-1.123-5.046-2.321-8.134-3.456c-3.063-1.147-6.475-2.233-10.174-3.131c-3.662-0.898-7.604-1.622-11.758-2.046
                                                                        c-4.117-0.437-8.44-0.574-12.918-0.312c-4.11,0.25-7.834,0.985-11.109,2.158c-3.256,1.148-6.075,2.745-8.396,4.729
                                                                        c-2.32,1.971-4.148,4.329-5.439,7.049c-1.279,2.707-2.034,5.751-2.177,9.132c-0.112,2.508,0.281,4.903,1.16,7.235
                                                                        c0.879,2.346,2.258,4.641,4.129,6.912c1.884,2.295,4.267,4.565,7.167,6.886c2.913,2.358,6.351,4.729,10.317,7.211
                                                                        c5.564,3.568,11.253,7.585,16.661,12.188c5.489,4.679,10.679,9.956,15.139,15.969c4.517,6.076,8.271,12.888,10.804,20.522
                                                                        c2.545,7.71,3.849,16.206,3.438,25.562c-0.667,15.308-4.023,28.506-9.569,39.447c-5.477,10.804-13.037,19.287-22.144,25.45
                                                                        c-8.907,6.013-19.225,9.743-30.446,11.24c-10.897,1.459-22.581,0.811-34.632-1.847c-0.088-0.013-0.188-0.05-0.287-0.075
                                                                        c-0.094-0.012-0.188-0.037-0.281-0.049c-0.093-0.025-0.187-0.051-0.287-0.075c-0.094-0.013-0.188-0.038-0.287-0.062
                                                                        c-5.651-1.372-11.104-3.144-16.225-5.228c-5.046-2.033-9.781-4.354-14.097-6.861c-4.254-2.482-8.109-5.14-11.446-7.896
                                                                        c-3.3-2.732-6.107-5.539-8.309-8.371l13.292-44.113c2.246,1.896,4.99,4.055,8.115,6.237c3.156,2.233,6.706,4.504,10.504,6.637
                                                                        c3.842,2.146,7.947,4.13,12.17,5.751c4.279,1.635,8.683,2.907,13.049,3.543c3.855,0.562,7.298,0.449,10.311-0.224
                                                                        c3.038-0.687,5.626-1.946,7.748-3.681c2.133-1.709,3.786-3.893,4.94-6.4c1.154-2.532,1.809-5.364,1.934-8.396
                                                                        c0.137-3.044-0.138-5.901-0.905-8.671c-0.761-2.781-2.008-5.464-3.799-8.158c-1.791-2.683-4.111-5.377-7.048-8.159
                                                                        c-2.907-2.757-6.394-5.602-10.523-8.62c-5.084-3.793-9.85-7.897-14.122-12.363c-4.217-4.417-7.959-9.195-11.022-14.372
                                                                        c-3.031-5.14-5.42-10.691-6.967-16.729c-1.541-6.001-2.251-12.501-1.953-19.587c0.524-11.839,2.889-22.755,6.85-32.573
                                                                        c4.004-9.931,9.674-18.838,16.785-26.511c7.255-7.822,16.075-14.422,26.242-19.499c10.461-5.228,22.419-8.895,35.674-10.629
                                                                        c6.15-0.812,12.052-1.186,17.628-1.21c5.664-0.025,10.985,0.312,15.881,0.936c4.965,0.636,9.488,1.559,13.499,2.694
                                                                        c4.042,1.147,7.548,2.495,10.436,3.967L249.204,241.318z M280.836,79.349c-0.025-1.983-0.075-3.992-0.149-6.038
                                                                        c-0.587-15.719-2.721-28.956-6.351-39.685c3.955,0.399,7.548,1.709,10.829,4.03c9.145,6.475,15.731,19.511,20.372,34.045
                                                                        L280.836,79.349z">
                                                                
                                                                </path>
                                                                
                                                                </g>
                                                            
                                                            </svg>
                                                        {% endif %}
                                                        {% if tool == "Adobe Illustrator" %}
                                                            <svg fill="#000000"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  width="20px" height="20px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                        
                                                                <g id="2069a460dcf28295e231f3111e03585e">
                                                                
                                                                <path display="inline" d="M227.593,217.991l19.188,60.091h-62.627l18.825-60.091c4.346-14.48,7.964-31.493,11.582-45.611h0.724
                                                                        C218.906,186.499,222.886,203.149,227.593,217.991z M511.5,85.667v340.667c0,46.842-38.325,85.167-85.167,85.167H85.667
                                                                        C38.825,511.5,0.5,473.175,0.5,426.333V85.667C0.5,38.825,38.825,0.5,85.667,0.5h340.667C473.175,0.5,511.5,38.825,511.5,85.667z
                                                                            M324.246,380.885l-79.279-243.977h-56.83l-78.189,243.977h45.973l20.997-69.14h77.465l22.082,69.14H324.246z M399.52,204.597
                                                                        h-44.888v176.288h44.888V204.597z M402.052,155.368c-0.362-13.756-9.772-24.252-24.977-24.252
                                                                        c-14.842,0-24.976,10.496-24.976,24.252c0,13.395,9.772,23.891,24.614,23.891C392.279,179.258,402.052,168.762,402.052,155.368z">
                                                                
                                                                </path>
                                                                
                                                                </g>
                                                        
                                                            </svg>
                                                        {% endif %}
                                                        {% if tool == "Vanilla Javascript" %}
                                                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H24V24H0V0ZM18.3467 20.1196C17.2343 20.1196 16.6053 19.5394 16.1219 18.7501L14.2891 19.8149C14.9512 21.123 16.3044 22.1211 18.3989 22.1211C20.5409 22.1211 22.136 21.0088 22.136 18.9783C22.136 17.0949 21.0541 16.2571 19.1379 15.4354L18.5741 15.1939C17.6065 14.7749 17.1874 14.501 17.1874 13.8244C17.1874 13.277 17.6061 12.8579 18.2667 12.8579C18.9143 12.8579 19.3314 13.131 19.7181 13.8244L21.4743 12.6968C20.7314 11.3901 19.7006 10.891 18.2667 10.891C16.2526 10.891 14.9638 12.1787 14.9638 13.8701C14.9638 15.7063 16.0449 16.5749 17.6724 17.2682L18.2362 17.5101C19.2648 17.96 19.8781 18.2339 19.8781 19.0072C19.8781 19.6526 19.2811 20.1196 18.3467 20.1196ZM9.60647 20.1055C8.83161 20.1055 8.50933 19.5741 8.15504 18.9455L6.31923 20.057C6.85104 21.1825 7.89676 22.117 9.70247 22.117C11.7009 22.117 13.0701 21.0541 13.0701 18.7189V11.0198H10.8149V18.6884C10.8149 19.8156 10.3474 20.1055 9.60647 20.1055Z" fill="#000000"/>
                                                            </svg>
                                                        {% endif %}
                                                        {% if tool == "Webflow" %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                                                <g clip-path="url(#clip0_2000_167)">
                                                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM12.0313 11.6688L12.9375 8.81252H12.9313C13.3313 7.73127 14.1188 6.71252 15.6188 6.71252L13.4938 11.875C13.3092 12.46 12.9432 12.971 12.4488 13.3339C11.9543 13.6969 11.3571 13.893 10.7438 13.8938C10.7438 13.8938 10.1188 9.45627 10.1188 9.35627L9.18127 11.7938C8.76252 12.875 7.95002 13.8938 6.45002 13.8938L5.27502 6.71877C5.84695 6.73311 6.39376 6.95669 6.81189 7.34717C7.23001 7.73765 7.49041 8.26791 7.54377 8.83752C7.54377 8.83752 7.70002 11.4688 7.70002 11.675L8.80627 8.81252C9.20627 7.73127 9.96877 6.71252 11.4063 6.71252C11.4063 6.71252 12.0313 11.45 12.0313 11.6688Z" fill="#000000"/>
                                                                </g>
                                                                <defs>
                                                                  <clipPath id="clip0_2000_167">
                                                                    <rect width="20" height="20" fill="white"/>
                                                                  </clipPath>
                                                                </defs>
                                                              </svg>
                                                        {% endif %}
                                                        {% if tool == "Memberstack" %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15" fill="none">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M20.1016 11.0285L17.6991 5.62335H13.3492V10.4424L14.2051 8.4227L14.2051 8.42262L13.7292 9.54569V6.20915H17.9594L18.4565 7.32747C18.1563 7.223 17.8337 7.16622 17.4979 7.16622C16.1108 7.16622 14.9499 8.13484 14.6542 9.43283L16.1473 12.7921C16.6334 13.8858 17.9128 14.3778 19.0047 13.8908C20.0967 13.4038 20.5878 12.1223 20.1016 11.0285Z" fill="black"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.255 6.63397L10.2579 6.6405L12.1571 2.15874C12.508 1.3306 13.3126 0.834388 14.1578 0.837355C14.9892 0.834448 15.7837 1.31432 16.1436 2.12403L18.4544 7.32294C17.9884 6.91984 17.3813 6.67606 16.7173 6.67606C15.5636 6.67606 14.5815 7.41202 14.2132 8.44092L14.2051 8.42262L12.3394 12.8252C11.8724 13.9273 10.6018 14.4415 9.50154 13.9737C9.39559 13.9287 9.29336 13.8754 9.19582 13.8142C8.79232 13.5944 8.45518 13.2448 8.25396 12.7921L6.31934 8.43954C6.61054 8.52308 6.91814 8.56782 7.23614 8.56782C8.5743 8.56782 9.7278 7.7757 10.255 6.63397H10.255Z" fill="black"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7291 9.35606V5.52844L10.2579 6.6405L8.2504 2.12403C7.89052 1.31432 7.09596 0.834448 6.26456 0.837355C5.4194 0.834388 4.6148 1.3306 4.26386 2.15874L1.48914 8.70659V8.70675L2.09306 7.28156C2.55346 6.89972 3.14454 6.67017 3.78918 6.67017C4.94951 6.67017 5.93631 7.4138 6.29985 8.45092L6.31184 8.42262L6.72674 9.35606H10.7291Z" fill="black"/>
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.89096 9.4159L4.44622 12.8252C3.9792 13.9273 2.70862 14.4416 1.60836 13.9737C0.508084 13.5059 -0.00523588 12.2332 0.461784 11.1311L2.06602 7.34534C2.40562 7.19477 2.78122 7.11115 3.17622 7.11115C4.53998 7.11115 5.67214 8.10778 5.89096 9.41592V9.4159Z" fill="black"/>
                                                            </svg>
                                                        {% endif %}
                                                        {% if tool == "Figma" %}
                                                            <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M12 3H9C7.34315 3 6 4.34315 6 6C6 7.65685 7.34315 9 9 9M12 3V9M12 3H15C16.6569 3 18 4.34315 18 6C18 7.65685 16.6569 9 15 9M12 9H9M12 9H15M12 9V15M9 9C7.34315 9 6 10.3431 6 12C6 13.6569 7.34315 15 9 15M15 9C16.6569 9 18 10.3431 18 12C18 13.6569 16.6569 15 15 15C13.3431 15 12 13.6569 12 12C12 10.3431 13.3431 9 15 9ZM12 15H9M12 15V18C12 19.6569 10.6569 21 9 21C7.34315 21 6 19.6569 6 18C6 16.3431 7.34315 15 9 15" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#9B2AE0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
</div> {% endcomment %}

{% endblock %}